#
# Waterfall Configuration File
#
# Edit this file to your liking and copy it to ~/.waterfall
#

# Log file
logfile = /var/log/waterfall.log

# Size of the FFT window.
fft_bins = 32768
# Overlap of the FFT windows.
fft_overlap = 16384

# Location name to be used in the snapshot filenames and FITS file metadata (the ORIGIN header).
location_name = svakov

# If set to false, the program will not make regular snapshots.
record_snapshots = true

# Length of a single snapshot in seconds.
waterfall_snapshot_length = 60

# Uncomment the following options to take snapshots of only a part of the spectrum.
# Left (lower) frequency bound of the snapshot in Hz.
waterfall_left_freq = 5000
# Right (higher) frequency bound of the snaphost in Hz.
waterfall_right_freq = 15000

# If set to false, the program will not run the bolid detection.
detect_bolids = true

# Lower frequency bound of the bolid image in Hz.
bolid_left_freq         =  9000
# Higher frequency bound of the bolid image in Hz.
bolid_right_freq        = 11000
# Lower frequency bound of the bolid detection bandwidth in Hz.
bolid_detect_left_freq  = 10300
# Higher frequency bound of the bolid detection bandwidth in Hz.
bolid_detect_right_freq = 10900
# Lower frequency bound of the noise sampling bandwidth in Hz.
noise_low_freq          =  9000
# Higher frequency bound of the noise sampling bandwidth in Hz.
noise_hi_freq           =  9600

# Uncomment the following options to make the Jack frontend connect to the left
# and right channels (the real and imaginary components of the signal) to the
# specified jack ports.
jack_left_port = jstdin:input1
jack_right_port = jstdin:input2

# Uncomment the following options to set the I/Q gain and phase corrections. By
# default, both are set to 0.
#iq_gain = 0
#iq_phase_shift = 0

